/*
div
{
  border: 1px solid red;
  padding: 0px;
}
*/


body
{
  /* bezpatkove pismo */
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
/*  font-size: medium; */
  /* midnight-blue */
  color: #191970;
  background-color : White;
  /* aby bola lista uplne nadoraz hore a roztiahnuta*/
  margin: 0;
  padding: 0;
}

a
{
  color: #F4A460;
  text-decoration : none;
  font-weight: 700;
}

a:visited {
	color: #CD853F;
}

a.announcement_link
{
  color: red;
}

a:hover, a:active {
	/* deepsky-blue */
	color: #00BFFF;
}

.navbar
{
  width:100%;
  background-color: #191970;
  font-family: inherit;
  font-size: smaller;
  color: #FAFAD2;
  font-weight : 700;
  text-transform : uppercase;
  margin: 0;
}

.navline
{
  border-bottom : 1px solid #FAFAD2;
  padding: 2px 0px 2px 20px;
  text-align: left; 
  margin: 0;
}

.title
{
}

.telo
{
  clear:both;
  margin-left:10px;
  margin-right:10px;
}

img
{
  border:0;
}

.ipscimg
{
  float:left;
}

.nadpis
{
  text-align:center;
}

table{
  font-size: medium;		/* dolezite kvoli IE5 */
  background-color: #FAFAD2;
  border-collapse: collapse;
}

th {
  background-color : #191970;
  color: #FAFAD2;
  padding:2px;
  margin:0px 0px 0px 0px;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

table.winners th
{
  width:50%;
}

table.results
{
  width:100%;
}

td
{
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid none;
  border-width: 1px 0;
  border-color: #DADAB2;
}

h1
{
  text-align: center;
  font-size: 130%;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 140px;
  margin-right: 140px;
}

h2
{
  text-align: center;
  font-size: 160%;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 140px;
  margin-right: 140px;
}

h3
{
  text-align: center;
  font-size: 130%;
  margin-bottom: 5px;
  margin-top: 30px;
}

hr
{
  height: 1px;
  width: 100%;
  color : #191970;
}

.footblock
{
  background-color : white;
  font-size: smaller;
  text-transform : uppercase;
  margin-left: 10px;
  margin-right: 10px;
}

.footcell
{
  float:left;
  margin-right:20px;
}

.footcell-init
{
  float:left;
  margin-right:20px;
}

.footcell-last
{
  float:right;
}

.informed
{
  float:right;
  margin: 0 0 0 1em;
}

.nav_cname{
  color:#FAFA82;
}

h3.guide
{
  text-align: left;
  font-size: 130%;
  margin-bottom: 5px;
  margin-top: 20px;
}

h3.oldcontesthd
{
  text-align: left;
  font-size: 130%;
  margin-bottom: 5px;
  margin-top: 20px;
}

h4{
  text-align: left;
  font-size: 105%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

pre, tt, code{
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 10px;
}

p{
  text-align : justify;
  margin-top: 0px;
  margin-bottom: 12px;
  margin-left: 0px;
}

form.ctrl
{
  margin: 0;
  border: 0;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background-color: #FAFAD2;
  padding: 0 0 1ex 0;
}

form.manage
{
  margin: 0;
  border: 0;
  background-color: white;
  padding: 0 0 0 0;
}

div.manage
{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background-color:#FAFAD2;
  padding: 0 0 1ex 0;
}

.ctrl_cap
{
  background-color : #191970;
  color: #FAFAD2;
  margin: 0;
}

.ctrl_elem
{
  margin: 1ex 0.5em;
}

.ctrl_input
{
  border : 1px solid #191970;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background-color : #FFFFEF;
  margin:0px;
}

.ctrl_button
{
  color: #191970;
  border-color: #191970;
  border-width : 1px 2px 2px 1px;
}

.ctrl_label
{
  margin-right:1em;
}

.form_comment
{
  margin-left:1em;
}

p.tmp_notice
{
  color: red;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1ex;
  font-size : medium;
  font-weight: bold;
}

.res_error
{
  color: red;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size : medium;
}

.res_ok
{
  color: green;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size : medium;
}

.res_confirm
{
  color: blue;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size : medium;
}

.bademail
{
  color: red;
  font-weight: bold;
}

.podklad
{
  background-color: white;
}

table.podklad tr td
{
  border: 0;
}

.postcard
{
  text-align: center;
}

table.oldlist
{
  margin-bottom: 1em;
}

table.oldlist tr td
{
  padding-left: 1ex;
  padding-right: 1ex;
}

span.medzera
{
  width: 10em;
}

span.ipsc2004-d-warn
{
  font-weight: bold;
}

td.date
{
  white-space: nowrap;
}

table.msg_tab
{
  width: 100%
}

table.msg_tab td.task
{
  font-weight: bold;
}

table.msg_tab td.status
{
  font-weight: bold;
}

table.msg_tab th
{
  text-align: left;
}

tr.msg_head
{
  background-color: #D2D2D2;
}

/*
th.msg_date_time
{
  width: 7ex;
}
*/

@media print
{
  a, a:hover, a:active, a:visited
  {
    color: black;
    text-decoration: underline;
    font-weight: normal;
  }

  .navbar, .navline, .footblock, .footcell, .footcell-last, .footcell-init
  {
    display: none;
  }

  body
  {
    color: black;
    font-size: xx-small;
  }

  pre, tt, code
  {
    font-size: x-small;
  }

  h1
  {
    font-size: medium;
  }
  
  h2, h3, h5
  {
    font-size: small;
  }
}

